@font-face {
    font-family: Ornamentum;
    src: url(fonts/Ornamentum-Regular.ttf)
}
@font-face {
    font-family: KarbonTest;
    src: url(fonts/KarbonTest-Thin.otf)
}


html {
    background-color: black;
}

h1 {
    font-family: 'Ornamentum-Regular';
    text-align: center;
    font-size: 8em;
    margin: .15em;
    font-family: Ornamentum; 
    background: linear-gradient( 
    to right, #ff0162, #ff0808, #eedd44,
     #27cdff, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    max-width: 100%;
}

h2 {
    font-family: 'KarbonTest';
    text-align: center;
    font-size: 1em;
    margin: 2em;
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(255, 230, 0), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    
  }
  

main {
text-align: center;
}

img {
    height: auto;
    width: 30%;
}
/* Text Glow */ 
.confirm_selection {
    animation: glow .5s infinite alternate;
}


@keyframes glow {
    to {
        text-shadow: 0 0 4em rgb(255, 4, 4);
    }
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }}